@model LocHelp.Models.Utilisateur
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="idth=device-width" />
    <title>ModifierUtilisateur</title>
</head>
<body>
    @using (Html.BeginForm())
    {
    <fieldset>
        <legend>Modifier un utilisateur : </legend>
        @Html.LabelFor(m => Model.Profil.Pseudo)
        @Html.TextBoxFor(m => Model.Profil.Pseudo)
        @Html.HiddenFor(m=>Model.Profil.Id)
        @*@Html.ValidationMessageFor(m => Model.Profil.Pseudo)*@
        <br />
        @Html.LabelFor(m => Model.Profil.Statut)
        @Html.TextBoxFor(m => Model.Profil.Statut)
        @Html.HiddenFor(m=>Model.Profil.Id)
        @*@Html.ValidationMessageFor(m => Model.Profil.Statut)*@
        <br />
        @Html.LabelFor(m => Model.PersonnelInfos.Nom)
        @Html.TextBoxFor(m => Model.PersonnelInfos.Nom)
        @Html.HiddenFor(m=>Model.PersonnelInfos.Id)
        @*@Html.ValidationMessageFor(m => Model.PersonnelInfos.Nom)*@
        <br />
        @Html.LabelFor(m => Model.PersonnelInfos.Prenom)
        @Html.TextBoxFor(m => Model.PersonnelInfos.Prenom)
         @Html.HiddenFor(m=>Model.PersonnelInfos.Id)
        @*@Html.ValidationMessageFor(m => Model.PersonnelInfos.Prenom)*@
        <br />
        @Html.LabelFor(m => Model.PersonnelInfos.DateDeNaissance)
        @Html.TextBoxFor(m => Model.PersonnelInfos.DateDeNaissance)
         @Html.HiddenFor(m=>Model.PersonnelInfos.Id)
        @*@Html.ValidationMessageFor(m => Model.PersonnelInfos.DateDeNaissance)*@
        <br />
        @Html.LabelFor(m => Model.ContactInfos.NumeroDeTelephone)
        @Html.TextBoxFor(m => Model.ContactInfos.NumeroDeTelephone)
        @Html.HiddenFor(m=>Model.ContactInfos.Id)
        @*@Html.ValidationMessageFor(m => Model.ContactInfos.NumeroDeTelepehone)*@
        <br />
        @Html.LabelFor(m => Model.ContactInfos.AdresseMail)
        @Html.TextBoxFor(m => Model.ContactInfos.AdresseMail)
        @Html.HiddenFor(m=>Model.ContactInfos.Id)
        @*@Html.ValidationMessageFor(m => Model.ContactInfos.AdresseMail)*@
        <br />
        @Html.LabelFor(m => Model.ContactInfos.AdresseContact.NumeroDeLaRue)
        @Html.TextBoxFor(m => Model.ContactInfos.AdresseContact.NumeroDeLaRue)
        @Html.HiddenFor(m=>Model.ContactInfos.AdresseContact.Id)
        @*@Html.ValidationMessageFor(m => Model.ContactInfos.AdresseContact.NumeroDeLaRue)*@
        <br />
        @Html.LabelFor(m => Model.ContactInfos.AdresseContact.NomDeLaRue)
        @Html.TextBoxFor(m => Model.ContactInfos.AdresseContact.NomDeLaRue)
        @Html.HiddenFor(m=>Model.ContactInfos.AdresseContact.Id)
        @*@Html.ValidationMessageFor(m => Model.ContactInfos.AdresseContact.NomDeLarue)*@
        <br />
        @Html.LabelFor(m => Model.ContactInfos.AdresseContact.CodePostal)
        @Html.TextBoxFor(m => Model.ContactInfos.AdresseContact.CodePostal)
        @Html.HiddenFor(m=>Model.ContactInfos.AdresseContact.Id)
        @*@Html.ValidationMessageFor(m => Model.ContactInfos.AdresseContact.CodePostal)*@
        <br />
        @Html.LabelFor(m => Model.ContactInfos.AdresseContact.Commune)
        @Html.TextBoxFor(m => Model.ContactInfos.AdresseContact.Commune)
        @Html.HiddenFor(m=>Model.ContactInfos.AdresseContact.Id)
        @*@Html.ValidationMessageFor(m => Model.ContactInfos.AdresseContact.Commune)*@
        <br />
        @Html.LabelFor(m => Model.Compte.Identifiant)
        @Html.TextBoxFor(m => Model.Compte.Identifiant)
        @Html.HiddenFor(m=>Model.Compte.Id)
        @*@Html.ValidationMessageFor(m => Model.Compte.Identifiant)*@
        <br />
        @Html.LabelFor(m => Model.Compte.MotDePasse)
        @Html.TextBoxFor(m => Model.Compte.MotDePasse)
        @Html.HiddenFor(m=>Model.Compte.Id)
        @*@Html.ValidationMessageFor(m => Model.Compte.MotDePasse)*@
        <br />
        <input type="submit" value="Modifier" />
    </fieldset>
    }
    <script type="text/javascript" src="~/Script/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Script/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Script/jquery.validate.unobtrusive.js"></script>
</body>
</html>
